@model CourseViewModel

@{
    ViewData["Title"] = "Course";
}

<div class="membership top-margin course-content">
    <div class="row navigation-bar">
        <div class="col-sm-12">
            <a class="btn btn-primary" href="~/Membership/Dashboard">
                <span class="glyphicon glyphicon-menu-left"></span>
                Back to Dashboard
            </a>
        </div>
    </div>
</div>

