@model VideoViewModel

@{
    ViewData["Title"] = "Video";
}

<div class="membership top-margin video-content">
    <div class="row navigation-bar">
        <div class="col-sm-12">
            <a class="btn btn-primary" href="~/Membership/Course/
                @Model.Course.CourseId">
                <span class="glyphicon glyphicon-menu-left"></span>
                Back to @Model.Course.CourseTitle
            </a>
        </div>
    </div>
</div>


