.navbar {
    border-bottom: 1px solid #dadada;
    background-color: #fff;
}

.dropdown.pull-right {
    padding-top: 0px;
}

#user-dropdown {
    padding: 7px;
}

.navbar-right > li {
    padding-top: 18px;
    color: #555;
}

.dropdown-menu {
    padding: 0;
    border: 1px solid #dadada;
    border-radius: 2px;
    box-shadow: none;
}

    .dropdown-menu li > a {
        color: #666c74;
        padding: 15px 40px 15px 20px;
    }
