.video-content .media-left img {
    height: 40px;
}

.video-content .panel {
    border: none;
    border-radius: 0px;
}

/*Coming Up Section*/
.coming-up .btn-group {
    width: 100%;
}

    .coming-up .btn-group .btn {
        width: 50%;
    }
